<!DOCTYPE html>
<html>
<head>
	<title>Book details</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/bookdetails.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script type="text/javascript" src="../javascripts/bookdetails.js" ></script>
</head>
<body onload="createTable()">
<header>Book details</header>
<section id="sec">
<table id="results">
	<tr style='color:white;background-color:#024457;'><th>Book ibsn</th><th>Book Name</th><th>Author Id</th><th>Author Name</th></tr>
</table>
	
	
</section>
</body>
</html>