<html>
<head>
<title>Assignment</title>
<link rel="stylesheet" href="../stylesheets/user.css"/>
<link rel="stylesheet" href="../stylesheets/bookdetails.css"/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="../javascripts/user.js"></script>
<script src="../javascripts/createbook.js"></script>
<script src="../javascripts/bookdetails.js"></script>
<span><a href="../routes/user">Create user</a></span>
<span><a href="../routes/createbook">Create Book</a></span>
<span><a href="../routes/bookdetails">Display Book Details</a></span>
</body>
</html>